# Ignore virtual environment
.venv/

# Ignore database folder
instance/

# Ignore python chache files
flaskblog/__pycache__/

# Ignore profile pics data
flaskblog/static/profile_pics/*
!flaskblog/static/profile_pics/default.jpg

# Ignore .env file
.env

# Ignore python chache files of main , users and posts
flaskblog/main/__pycache__/
flaskblog/users/__pycache__/
flaskblog/posts/__pycache__/