{%- extends "base.html" -%} {%- block content -%}
<h1>Create Post</h1>

<div class="container mt-4">
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.title.label(class="form-label") }} {{
      form.title(class="form-control") }} {% for error in form.title.errors %}
      <div class="text-danger small mt-1">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="mb-3">
      {{ form.content.label(class="form-label") }} {{
      form.content(class="form-control") }} {% for error in form.content.errors
      %}
      <div class="text-danger small mt-1">{{ error }}</div>
      {% endfor %}
    </div>

    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{%- endblock -%}
